<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/aboutus.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

  <style>
  
  .Aware img{
    height: 250px;
    width: 100%;
  }
  
  
  </style>
  
  {% include 'navbar/navbar.html' %}
      
      <div class="bg-light">
        <div class="container py-5">
          <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
              <h1 class="display-4">About us page</h1>
              <p class="lead text-muted mb-0">Here you have a deeper insight of our project approach</p>
            
              </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="../static/images/AboutUS header.jpg" alt="" class="img-fluid"></div>
          </div>
        </div>
      </div>
      
      
      <div class="bg-white py-5">
        <div class="container py-5">
          <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light">Study done on Feasiblity of the Project</h2>
              <p class="font-italic text-muted mb-4"> A survey form was created and passed down to all the farmers </p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../static/images/survey_form.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="../static/images/Field Visit.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light">Field Visit</h2>
              <p class="font-italic text-muted mb-4">To ensure the requirement and problem were understood at farmer level. We went to their place.</p>
            </div>
          </div>
        </div>
      </div>
      


      <div class="bg-white py-5">
        <div class="container py-5">
          <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light">Study done on Feasiblity of the Project</h2>
              <p class="font-italic text-muted mb-4">Greater the improper pesticide management, greater the loss in friendly insects that help in improving soil structure and crop productivity. Wrong pesticide can kill those friendly insects, so the famer needs to be fully aware of the pests that are consuming their crops. Only about 11% of the farmer are fully aware of those pests while about 50% are completely unaware. All in all about 80% of the farmer need a better pesticide management approach which can be provided by the system. </p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2 Aware"><img src="../static/images/Aware.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
          </div>
         
      
     
          </div>
        </div>
      </div>
      
      
      <footer class="bg-light pb-5">
        <div class="container text-center">
          <p class="font-italic text-muted mb-0">&copy; Copyrights PlantDisease.com All rights reserved.</p>
        </div>
      </footer>
      
</body>
</html>